/*== Geral =================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root{
  --primary-orange: hsl(18, 100%, 50%);
  --hover-orange: hsl(18, 100%, 42%);
  --primary-purple: hsl(330, 58%, 44%);
  --primary-grey: hsl(0, 0%, 61%);
    
  --luminous-white: hsl(0, 0%, 97%);

  --bg-grey: hsl(30, 11%, 15%);
  --bg-black: hsl(0, 7%, 12%);
  
  font-size: 62.5%; /* 1rem = 10px, Com isso pode usar REM à vontade */
  
  --nav-height: 7.2rem;
}
  
html,
body {
  width: 100%;
  height: 100%;
}
  
body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  
  text-align: center;
  
  overflow: overlay;
  
  background-color: var(--bg-grey);
}
  
.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
   
a.button {
  border: none;
  border-radius: 4rem;
  
  margin-bottom: 6rem;
  
  padding: 1.6rem 3.2rem;
  width: fit-content;
  
  color: var(--luminous-white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  
  text-decoration: none;
  
  transition: background 200ms;
}
  
.button:hover {
  background-color: var(--luminous-white);
}
  
/* .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
} */

section h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;

  color: var(--primary-orange);
}

section h1{
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4.5rem;

  color: var(--luminous-white);
}

section .col-a p{
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;

  color: var(--primary-grey);
}

  
/*=== NAVIGATION =================================*/
nav {
  display: flex;
  
  height: var(--nav-height);
  border-bottom: 0.2rem solid var(--primary-orange);
  
  position: fixed;
  top: 0;
  width: 100vw;
  
  z-index: 100;
}

.logo img{
  width: 67%;
}
  
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
  
nav .menu,
nav .close-menu {
  position: fixed;
}
  
/*=== MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}
 
body.menu-expanded > :not(nav) {
  visibility: hidden;
}
  
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}
  
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}
  
.menu {
  transform: translateX(100%);
}
 
body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--bg-black);
  
  width: 100vw;
  height: 100vh;
  
  padding-top: var(--nav-height);
  
  transition: transform 300ms;
  transform: translateY(0);
}
  
.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}
 
.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li a:hover{
  color: var(--primary-orange);
}
  
.menu .button {
  background: var(--primary-orange);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  
  color: var(--luminous-white);
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
  
.menu .button:hover {
  background-color: var(--hover-orange);
}
  
body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}
  
body.menu-expanded button path {
  stroke: white;
}

/*=== HOME =================================*/

#home{
  padding-block: 0;
  padding-top: calc(5rem + var(--nav-height));
}

#home h1{
  margin: 1.8rem 0
}

#home p{
  margin-bottom: 3rem;
}

#home::before {
  content: '';
  width: 100%;
  height: calc(65% + var(--nav-height));
  background-color: var(--bg-black);
  display: block;

  position: absolute;
  top: var(--nav-height);
  left: 0;
  z-index: -1;
}

#home a.button{
  margin-inline: auto;

  background: var(--primary-orange);
   
  padding: 1rem 2.3rem;
}

#home a.button svg{
  width: 2.5rem;
}

#home a.button:hover{
  background-color: var(--hover-orange);
}

#home img {
  display: none; 
  /* Imagem muito grande para encaixar no mobile, colocarei em desktop */
}

/*=== "PIZZA MAIS VENDIDA" BANNER =================================*/



